h1 {
    font-family:'Cookie', sans-serif; 
    background-color:black;
    font-size: 80px;
    margin: 0px;
    color:lightseagreen;
    display: flex;
    justify-content:center;
}

/* common styles */
body {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
}

/* common nav styles */
.navigation_wrapper {
    height: 90px;
    background-color: black;
    color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 50px;
}

/* .navigation_wrapper > .left_column {
    display: flex;
    justify-content: space-between;
    width:100%;
} */

.navigation_wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navigation_wrapper > .left-column > .contact_info_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    color: lightskyblue;
    background-color: black;
}

.left_column {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.right_column {
}

.icon {
    margin-right: 5px;
    margin-left: 15px;
    background-color: black;
    color: lightskyblue;
}

.icon2 {
    margin-right: 15px;
    margin-left: 10px;
    background-color: black;
    color: lightskyblue;
}

.icon3 {
    margin-right: 15px;
    background-color: black;
    color: rgb(147, 131, 234);
}

.navigation_wrapper > .right_column > .address_wrapper {
    color: rgb(147, 131, 234);
    background-color: black;
    display: flex;
    text-align: right;
}

.nav_link {
    color: aquamarine;
    background-color: black;
}

.links_wrapper {
    width: 100%;
    color: aquamarine;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.links_wrapper > .nav_link {
    width: 70px;
    text-align: center;
}

.links_wrapper > .nav_link a {
    font-family: 'Montserrat', sans-serif;
    color: aquamarine;
    text-decoration: none;
    transition: 0.5s;
}

.links_wrapper > .nav_link a:hover {
    color: cornflowerblue;
    letter-spacing: 2px;
}
