.footer {
    background-color: black;
    color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    width: 100%;
    text-align: center;
}

.footer > .footer_contact_info {
    margin-top: 15px;
    margin-bottom: 5px;
}

.footer > .footer_contact_info span {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 1em;
    color: lightseagreen;
}

.footer_links_wrapper {
    background-color: black;
    font-family: 'Cookie', sans-serif;
    font-size: 26px;
    color: darkseagreen;
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.footer > .footer_links_wrapper a {
    color: darkseagreen;
    padding: 20px 5px 20px 5px;
    text-decoration: none;
    transition: 0.5s;
}

.footer > .footer_links_wrapper a:hover {
    color: darkolivegreen;
    letter-spacing: 2px;
}

footer > .social_media_wrapper {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social_media_wrapper a {
    font-size: 1.5em;
    color: lightskyblue;
    padding: 15px 5px 20px 5px;
    display: flex;
    justify-content: center;
}

.social_media_wrapper a:hover {
    color:darkslateblue;
    transition: 0.5s;
}

.copyright_wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
}